@model ProductPhotosVM

<div class="form-row">
    <div class="col-md-4 mb-3" hidden>
        <label  class="col-form-label fw-bold fs-4">معرف المنتج</label>
        <input asp-for="ProductId" class="form-control" readonly />

    </div>
       <div class="col-md-4 mb-3">
        <label asp-for="Product.Name">اسم المنتج</label>
        <input type="text" class="form-control" value="@Model.Product.Name" readonly>

    </div>
    <div class="col-md-4 mb-3" hidden>
        <label asp-for="FilePath">Path </label>
        <input type="text" class="form-control" asp-for="FilePath" readonly>

    </div>
   
</div>
<div class="col-md-4 mb-3">
    <label class="col-form-label fw-bold fs-4">الصوره </label>
    <div class="image-container">
        <img src="~/Uploads/products/@Model.Photo" class="rounded-2 img-fluid img-thumbnail" alt="Category Image" />
    </div>
</div>