@model Sale

<div >

    <div class="form-group">
        <label asp-for="SaleStartDate" class="col-form-label"></label>
        <input asp-for="SaleStartDate" class="form-control" readonly />

    </div>
    <div class="form-group">
        <label asp-for="SaleEndDate" class="col-form-label"></label>
        <input asp-for="SaleEndDate" class="form-control" readonly />
    </div>
    @*   <div class="form-group">
        <label asp-for="PriceAfterSale" class="col-form-label"></label>
        <input asp-for="PriceAfterSale" class="form-control" readonly />

    
</div> *@
<div class="form-group">
    <label asp-for="SaleDiscountPercentage" class="col-form-label"></label>
    <input asp-for="SaleDiscountPercentage" class="form-control" readonly />

</div>
   
</div>