@model ProductVM

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group" hidden>
    <label asp-for="Id" class="control-label"></label>
    <input asp-for="Id" class="form-control" />
    <span asp-validation-for="Id" class="text-danger"></span>
</div>


<div class="form-row">
    <div class="col-md-4 mb-3">
      <label >اسم المنتج</label>
      <input type="text" class="form-control" asp-for="Name" placeholder="ادخل اسم المنتج" required>
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="form-group col-md-4">
        <label for="inputState">اسم القسم</label>
        <select asp-for="CategoryId" class="form-control" class="form-select  form-select-lg mb-3" aria-label="Large select example" asp-items="@(new SelectList(Model.Categories,"Id","Name"))">
            <option value="0">اختار اسم القسم</option>
        </select>
    </div>
    @if (User.IsInRole("بائع"))
    {
        <div class="col-md-4 mb-3" hidden>
            <label asp-for="UserId" >اسم البائع</label>
            <input type="text" class="form-control" asp-for="UserId" readonly>

        </div>
    }
    else
    {
        <div class="form-group col-md-4">
            <label for="inputState">اسم البائع</label>
            <select asp-for="UserId" class="form-control" class="form-select  form-select-lg mb-3" aria-label="Large select example" asp-items="@(new SelectList(Model.Users,"Id","UserName"))">
            <option value="0">اختار اسم الشركه</option>
        </select>
    </div>}

    <div class="col">
        <label for="validationServer01">السعر العادي</label>

        <input  class="form-control " asp-for="NormalPrice" placeholder="ادخل السعر العادي للمنتج" >
        <span asp-validation-for="NormalPrice" class="text-danger"></span>

    </div>
   
    <div class="col">
        <label for="validationServer01">السعر المستعجل</label>

        <input  class="form-control " asp-for="UrgentPrice" placeholder="ادخل السعر المستعجل للمنتج" required>
        <span asp-validation-for="UrgentPrice" class="text-danger"></span>
    </div>
    <div class="col">
        <label for="validationServer01">عدد الصور</label>

        <input class="form-control " asp-for="NumOfPhotos" placeholder="ادخل عدد الصور المتاح طباعتها على المنتج">
        <span asp-validation-for="NumOfPhotos" class="text-danger"></span>

    </div>
    </div>

    <br />
    
      
 <!-- /.col -->
   
  <div  class="form-row">
    <div class="col-md-3 mb-3">
        <label for="validationCustom05">الحد الأدنى للتجهيز</label>
        <input  class="form-control " asp-for="NormalMinDate" placeholder="ادخل الحد الأدنى للتجهيز" required>
        <span asp-validation-for="NormalMinDate" class="text-danger"></span>

    </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer01">الحد الأقصى للتجهيز</label>
            <input  class="form-control " asp-for="NormalMaxDate"  placeholder="ادخل الحد الأقصى للتجهيز" required>
            <span asp-validation-for="NormalMaxDate" class="text-danger"></span>

        </div>
          <div class="col-md-3 mb-3">
            <label for="validationServer01">الحد الأدنى للتجهيز المستعجل للمنتج </label>
        <input  class="form-control " asp-for="UrgentMinDate" placeholder="ادخل الحد الأدنى للتجهيز المستعجل" required>
            <span asp-validation-for="UrgentMinDate" class="text-danger"></span>

        </div>

    <div class="col-md-3 mb-3">
        <label for="validationServer01">الحد الأقصى للتجهيز المستعجل للمنتج</label>
        <input  class="form-control " asp-for="UrgentMaxDate" placeholder="ادخل الحد الأقصى للتجهيز المستعجل" required>
        <span asp-validation-for="UrgentMaxDate" class="text-danger"></span>

    </div>

</div>
<div class="form-group ">
    <label for="example-textarea">وصف المنتج</label>
    <textarea class="form-control" asp-for="Description" id="example-textarea" placeholder="ادخل وصف المنتج" rows="4"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>

</div>
<div class="form-row">
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Text" />هل يُسمح بكتابة نص على المنتج
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Date" />هل يُسمح بكتابة تاريخ على المنتج
        </label>
    </div>

    </div>
    <br />
<p class="text-muted nav-heading mt-4 mb-1 bol">
    <span>الألوان و الأحجام</span>
</p>
<br />
    <div class="d-flex ">
     <partial name="PartialViews/_ColorView" />
        <div style="width:100px"></div>
    <partial name="PartialViews/_SizeView" /> 
    </div>


  @*   <div class="col-md-3 mb-3">
      <label for="validationServer04">State</label>
      <input type="text" class="form-control is-invalid" id="validationServer04" placeholder="State" required>
      <div class="invalid-feedback">
        Please provide a valid state.
      </div> *@


  
    
    