@model ProductVM

<style>
    .image-container {
        position: relative;
        width: 100%;
        padding-top: 100%; /* Aspect ratio */
        overflow: hidden;
    }

        .image-container img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

</style>
<div >
   

    <div class="form-group" hidden>
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" />
        
    </div>


    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label>اسم المنتج</label>
            <input type="text" class="form-control" asp-for="Name" readonly>

        </div>
        <div class="form-group col-md-4" hidden>
            <label asp-for="CategoryId"></label>
            <input type="text" class="form-control" asp-for="CategoryId" readonly>

        </div>
        <div class="form-group col-md-4">
            <label asp-for="Category.Name" for="inputState">اسم القسم</label>
            <input type="text" class="form-control" value="@Model.Category.Name" readonly>

        </div>
        <div class="form-group col-md-4" hidden>
            <label asp-for="UserId"></label>
            <input type="text" class="form-control" asp-for="UserId" readonly>

        </div>
        <div class="form-group col-md-4">
            <label asp-for="AppUser.UserName" >اسم البائع</label>
            <input type="text" class="form-control" value="@Model.AppUser.UserName" readonly>

        </div>
        <div class="col">
            <label for="validationServer01">السعر العادي</label>

            <input type="text" class="form-control " asp-for="NormalPrice" readonly>

        </div>

        <div class="col">
            <label for="validationServer01">السعر المستعجل</label>

            <input type="text" class="form-control " asp-for="UrgentPrice" readonly>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="col">
                <label for="validationServer01">السعر الكلي</label>

                <input type="text" class="form-control " asp-for="TotalPrice" readonly>

            </div>
        }
        <div class="col">
            <label for="validationServer01">عدد الصور</label>

            <input type="text" class="form-control " asp-for="NumOfPhotos" readonly>

        </div>
       
    </div>

    <br />


    <!-- /.col -->

    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="validationCustom05">الحد الأدنى للمده</label>
            <input type="text" class="form-control " asp-for="NormalMinDate" readonly>

        </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer01">الحد الأعلى للمده</label>
            <input type="text" class="form-control " asp-for="NormalMaxDate" readonly>

        </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer01">الحد الأدنى لمده المنتج المستعجل </label>
            <input type="text" class="form-control " asp-for="UrgentMinDate" readonly>

        </div>

        <div class="col-md-3 mb-3">
            <label for="validationServer01">الحد الأعلى  لمده المنتج المستعجل</label>
            <input type="text" class="form-control " asp-for="UrgentMaxDate" readonly>

        </div>
       </div>
    <div class="form-group ">
        <label for="example-textarea">وصف المنتج</label>
        <textarea class="form-control" asp-for="Description" id="example-textarea" rows="4" readonly></textarea>

    </div>
    <div class="form-row">
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Text" readonly/>النص
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Date" readonly />التاريخ
            </label>
        </div>
        </div>

    <br />
    <p class="text-muted nav-heading mt-4 mb-1 bol">
        <span>الألوان و الأحجام</span>
    </p>

        <partial name="PartialViews/_DeleteColorSize" />


    <br />
    <p class="text-muted nav-heading mt-4 mb-1 bol">
        <span>الصور و الفيديوهات</span>
    </p>
    <br />
    <div class="form-group">
        <label class="control-label fw-bold fs-4"> صور المنتج </label>
        <input multiple asp-for="PhotoFiles" class="form-control form-control-lg" type="file" id="imageUpload" hidden />


        <div class="row mt-3">
            @if (Model.photos.Any())
            {
                foreach (var img in Model.photos)
                {
                    <div class="col-3 mb-3">
                        <div class="image-container">
                            <input asp-for="@img" name="name" value="" />
                            <img src="~/Uploads/products/@img" alt="Product Image" />
                        </div>
                    </div>
                }
            }

        </div>
 
