@model ProductVM

<div >
   
    <div class="form-group" >
        <label asp-for="Id" class="col-form-label"></label>
        <input asp-for="Id" class="form-control" readonly />

    </div>
    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" readonly />

    </div>

       <div class="form-group">
        <label asp-for="Description" class="col-form-label"></label>
        <input asp-for="Description" class="form-control" readonly />

    </div>   <div class="form-group">
        <label asp-for="NumOfPhotos" class="col-form-label"></label>
        <input asp-for="NumOfPhotos" class="form-control" readonly />

    </div>
    <div class="form-group">
        <label asp-for="NormalMinDate" class="col-form-label"></label>
        <input asp-for="NormalMinDate" class="form-control" readonly />


    </div> 
    <div class="form-group">
        <label asp-for="NormalMaxDate" class="col-form-label"></label>
        <input asp-for="NormalMaxDate" class="form-control" readonly />


    </div>
    <div class="form-group">
        <label asp-for="UrgentMinDate" class="col-form-label"></label>
        <input asp-for="UrgentMinDate" class="form-control" readonly />


    </div>
    <div class="form-group">
        <label asp-for="UrgentMaxDate" class="col-form-label"></label>
        <input asp-for="UrgentMaxDate" class="form-control" readonly />

    </div>
    <div class="form-group">
        <label asp-for="NormalPrice" class="col-form-label"></label>
        <input asp-for="NormalPrice" class="form-control" readonly />

    </div>
    <div class="form-group">
        <label asp-for="UrgentPrice" class="col-form-label"></label>
        <input asp-for="UrgentPrice" class="form-control" readonly />

    </div>
    <div class="form-group">
        <label asp-for="NormalPrice" class="col-form-label"></label>
        <input asp-for="NormalPrice" class="form-control" readonly />

    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Color" readonly /> @Html.DisplayNameFor(model => model.Color)
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Text" readonly /> @Html.DisplayNameFor(model => model.Text)
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Date" readonly /> @Html.DisplayNameFor(model => model.Date)
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Enter" readonly /> @Html.DisplayNameFor(model => model.Enter)
        </label>
    </div>
</div>