
@model RoleFormViewModel

<form method="post" action="Create">
    <div class="form-group">
        <label for="exampleFormControlInput1">Role Name</label>
        <input  class="form-control" id="exampleFormControlInput1" placeholder="Enter Role" asp-for="Name" />

    </div>
    
   
    <div class="form-footer mt-6">
        <button type="submit" class="btn btn-primary btn-pill" >Add New Role</button>
       @*  <button type="submit" class="btn btn-light btn-pill">Cancel</button> *@
    </div>

    <span asp-validation-for="Name" class="text-danger"></span>
</form>
