@model UserFormViewModel

@{
    ViewData["Title"] = "AddUser";
}



            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="page-title"> إضافه مستخدم </h2>
                    
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                <strong class="card-title">Form controls</strong>
                            </div>
                <form asp-action="AddUser" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row">
                            <input hidden asp-for="Id" />
                            <div class="col-md-6">
                                
                                <div class="form-group mb-3">
                                    <label for="simpleinput">اسم المستخدم</label>
                                    <input type="text" id="simpleinput" asp-for="UserName" class="form-control">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="example-email">البريد الالكترونى</label>
                                    <input type="email" id="example-email" asp-for="Email"  class="form-control" >
                                </div>
                               @*  <div class="form-group mb-3">
                                    <label for="example-password">الاسم الظاهر</label>
                                    <input asp-for="DisplayName" id="example-password" class="form-control">
                                </div> *@
                                <div class="form-group mb-3">
                                    <label for="example-palaceholder">رقم الموبايل</label>
                                    <input type="text" id="example-palaceholder" asp-for="PhoneNumber" class="form-control" placeholder="placeholder">
                                </div>
                            </div> <!-- /.col -->
                            <div class="col-md-6">

                                <div class="form-group mb-3">
                                    <label for="example-palaceholder">موقع المستخدم</label>
                                    <input type="text" id="example-palaceholder" asp-for="Location" class="form-control" placeholder="placeholder">
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsCompany" /> @Html.DisplayNameFor(model => model.IsCompany)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhotoFile" class="control-label fw-bold fs-4"></label>
                                    <input asp-for="PhotoFile" class="form-control form-control-lg" type="file" id="formFile" />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="exampleFormControlInput1" asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" id="exampleFormControlInput1">
                                </div>
                                <select asp-for="RoleId" class="form-control form-select form-select-lg mb-3" aria-label="Large select example" asp-items="@(Model.Roles != null ? new SelectList(Model.Roles, "Id", "Name") : null)">
                                    <option value="0">Select a Role Name</option>
                                </select>

                               @*  <div class="form-group">
                                    <label class="col-form-label text-end w-100">Role Name</label>
                                    <select asp-for="RoleId" class="form-control" class="form-select  form-select-lg mb-3" aria-label="Large select example" asp-items="@(new SelectList(Model.Roles, "Id", "Name"))">
                                        <option value="0">Select a Role Name</option>
                                    </select>

                                </div>
                                 *@
                            </div>
                            <div class="form-footer mt-6">
                                <button type="submit" class="btn btn-danger">حفظ</button>
                                <button asp-action="Index" class="btn btn-primary ">الرجوع للقائمه</button>
                            </div>
                           
                        </div> 
                        
                    </div>
                </form>

            </div>
                    
                    </div>
                    </div>
                    
   </div>
   
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/simplebar.min.js"></script>
    <script src='js/daterangepicker.js'></script>
    <script src='js/jquery.stickOnScroll.js'></script>
    <script src="js/tinycolor-min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-56159088-1');
    </script>

@* <div class="w-75 m-auto p-5 mt-4 bg-white">
    <h1>Add User</h1>

    <form method="post" asp-action="AddUser" enctype="multipart/form-data">
        <input hidden asp-for="Id" /> 
        <div class="form-group mt-4">
            <label for="exampleFormControlInput1" asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" id="exampleFormControlInput1">

        </div>

        <div class="form-group mt-4">
            <label for="exampleFormControlInput1" asp-for="DisplayName"></label>
            <input asp-for="DisplayName" class="form-control" id="exampleFormControlInput1">

        </div>

        <div class="form-group mt-4">
            <label for="exampleFormControlInput1" asp-for="Email"></label>
            <input asp-for="Email" class="form-control" id="exampleFormControlInput1">

        </div>
 
        <div class="form-group mt-4">
            <label for="exampleFormControlInput1" asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" id="exampleFormControlInput1">

        </div>

        <div class="form-group mt-4">
            <label for="exampleFormControlInput1" asp-for="Location"></label>
            <input asp-for="Location" class="form-control" id="exampleFormControlInput1">

        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsCompany" /> @Html.DisplayNameFor(model => model.IsCompany)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="PhotoFile" class="control-label fw-bold fs-4"></label>
            <input asp-for="PhotoFile" class="form-control form-control-lg" type="file" id="formFile" />
        </div>

        <div class="form-group mt-4">
            <label for="exampleFormControlInput1" asp-for="Password"></label>
            <input asp-for="Password" class="form-control" id="exampleFormControlInput1">
            </div>
        <div class="form-footer mt-6">
            <button type="submit" class="btn btn-danger">Save</button>
            <button asp-action="Index" class="btn btn-primary ">Back To List</button>
        </div>
       
    </form>


</div>
 *@

