@model UserFormViewModel

@{
    ViewData["Title"] = "AddUser";
}

<!doctype html>
<html lang="en">

<body class="vertical  light rtl ">
    <div class="wrapper">

        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="page-title">Form elements</h2>
                        <p class="text-muted">Demo for form control styles, layout options, and custom components for creating a wide variety of forms.</p>
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                <strong class="card-title">Form controls</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-3">
                                            <label for="simpleinput">Text</label>
                                            <input type="text" id="simpleinput" class="form-control">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="example-email">Email</label>
                                            <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Email">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="example-password">Password</label>
                                            <input type="password" id="example-password" class="form-control" value="password">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="example-palaceholder">Placeholder</label>
                                            <input type="text" id="example-palaceholder" class="form-control" placeholder="placeholder">
                                        </div>
                                    </div> <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="form-group mb-3">
                                            <label for="example-helping">Helping text</label>
                                            <input type="text" id="example-helping" class="form-control" placeholder="Input with helping text">
                                            <span class="help-block"><small>A block of help text that breaks onto a new line.</small></span>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="example-readonly">Readonly</label>
                                            <input type="text" id="example-readonly" class="form-control" readonly="" value="Readonly value">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="example-disable">Disabled</label>
                                            <input type="text" class="form-control" id="example-disable" disabled="" value="Disabled value">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="example-static">Static control</label>
                                            <input type="text" readonly="" class="form-control-plaintext" id="example-static" value="j@example.com">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- / .card -->
                      
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
            </div> <!-- .container-fluid -->
          
        </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/simplebar.min.js"></script>
    <script src='js/daterangepicker.js'></script>
    <script src='js/jquery.stickOnScroll.js'></script>
    <script src="js/tinycolor-min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-56159088-1');
    </script>
</body>
</html>
@* <div class="w-75 m-auto p-5 mt-4 bg-white">
    <h1>Add User</h1>

    <form method="post" asp-action="AddUser" enctype="multipart/form-data">
        <input hidden asp-for="Id" /> 
        <div class="form-group mt-4">
            <label for="exampleFormControlInput1" asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" id="exampleFormControlInput1">

        </div>

        <div class="form-group mt-4">
            <label for="exampleFormControlInput1" asp-for="DisplayName"></label>
            <input asp-for="DisplayName" class="form-control" id="exampleFormControlInput1">

        </div>

        <div class="form-group mt-4">
            <label for="exampleFormControlInput1" asp-for="Email"></label>
            <input asp-for="Email" class="form-control" id="exampleFormControlInput1">

        </div>
 
        <div class="form-group mt-4">
            <label for="exampleFormControlInput1" asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" id="exampleFormControlInput1">

        </div>

        <div class="form-group mt-4">
            <label for="exampleFormControlInput1" asp-for="Location"></label>
            <input asp-for="Location" class="form-control" id="exampleFormControlInput1">

        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsCompany" /> @Html.DisplayNameFor(model => model.IsCompany)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="PhotoFile" class="control-label fw-bold fs-4"></label>
            <input asp-for="PhotoFile" class="form-control form-control-lg" type="file" id="formFile" />
        </div>

        <div class="form-group mt-4">
            <label for="exampleFormControlInput1" asp-for="Password"></label>
            <input asp-for="Password" class="form-control" id="exampleFormControlInput1">
            </div>
        <div class="form-footer mt-6">
            <button type="submit" class="btn btn-danger">Save</button>
            <button asp-action="Index" class="btn btn-primary ">Back To List</button>
        </div>
       
    </form>


</div>
 *@

