@model ProductSaleVM
@{
    ViewData["Title"] = "Details";
}



<hr />

<main role="main" class="main-content">

    <div class="m-auto  bg-white p-5">

        <h1>تفاصيل الخصم </h1>
        <div>

            <partial name="PartialViews/DeleteDetialsView" />

            <div class=" mt-4">
                <a href="~/ProductSale/Details?ProductId=@Model.ProductId&SaleId=@Model.SaleId" class="btn btn-primary">Edit</a>

                <a asp-action="Index" class="btn btn-light">Back to List</a>
            </div>
        </div>
    </div>

</main>






