@model ProductSaleVM
@{
    ViewData["Title"] = "Details";
}



<hr />


<div class="m-auto  bg-white p-5">
        <h1>تفاصيل الخصم </h1>
        <div>

            <partial name="PartialViews/DeleteDetialsView" />

            <div class=" mt-4">
                <a href="~/ProductSale/Edit?ProductId=@Model.ProductId&SaleId=@Model.SaleId" class="btn btn-primary">تعديل</a>

                <a asp-action="Index" class="btn btn-light">العوده</a>
            </div>
        </div>
 </div>







