@model CategoryVM

<div class="form-group  ">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label  class="col-form-label">اسم القسم</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label  class="control-label fw-bold fs-4">صوره</label>
        <input asp-for="PhotoFile" class="form-control form-control-lg" type="file" id="formFile" />
    </div>


</div>


