@model CategoryVM

  <div >
        <div class="col-md-4 mb-3">
            <label>اسم المنتج</label>
            <input type="text" class="form-control" asp-for="Name" readonly>
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
    <div class="col-md-4 mb-3" hidden>
        <label>Path</label>
        <input type="text" class="form-control" asp-for="FilePath" readonly>
        <span asp-validation-for="FilePath" class="text-danger"></span>

    </div>
    <div class="col-md-4 mb-3">
        <label class="col-form-label fw-bold fs-4">الصوره  </label>
        <img src="~/Uploads/category/@Model.PhotoURL" width="100" height="100" class="rounded-2 img-fluid" />
    </div>
</div>