@model CategoryVM

  <div >
        <div class="col-md-4 mb-3">
            <label>اسم المنتج</label>
            <input type="text" class="form-control" asp-for="Name" readonly>
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
    <div class="col-md-4 mb-3" hidden>
        <label>Path</label>
        <input type="text" class="form-control" asp-for="FilePath" readonly>
        <span asp-validation-for="FilePath" class="text-danger"></span>

    </div>
    <div class="col-md-4 mb-3">
        <label class="col-form-label fw-bold fs-4">الصوره</label>
        <div class="image-container">
            <img src="~/Uploads/category/@Model.PhotoURL" class="rounded-2 img-fluid img-thumbnail" alt="Category Image" />
        </div>
    </div>

    <style>
        .image-container {
            width: 100%;
            height: auto;
            max-width: 310px; /* Adjust the max-width as needed */
            max-height: 310px; /* Adjust the max-height as needed */
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #f8f9fa;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .image-container img {
                max-width: 300px;
                max-height: 300px;
                object-fit: cover;
                border-radius: 4px;
            }
    </style>

</div>