@model PrintMartic_DashBoard.Helper.ViewModels.ProductVM

@{
    ViewData["Title"] = "Create";
}

    
        <div class="m-auto  bg-white p-5">
            <h1>إضافة منتج جديد</h1>
            @if (!string.IsNullOrEmpty(TempData["Message"] as string))
            {
                <div class="alert alert-primary mt-3 mb-2">
                    @TempData["message"]
                </div>
            }
            <hr />

            <form asp-action="Create" method="post">


                <partial name="PartialViews/CreateEditView" />
                <div class="form-group mt-4">
                    <input type="submit" value="إضافه" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-light">العوده</a>
                </div>
            </form>
        </div>



