@model ProductVM
@{
    ViewData["Title"] = "Details";
}


<div class="m-auto  bg-white p-5">
    <h1>تفاصيل المنتج </h1>


    <hr />

    <div>

        <partial name="PartialViews/DeleteDetialsView" />
       


        </div>
        <div class=" mt-4">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">تعديل</a>
       
        @if (User.IsInRole("Admin"))
            {
            if(Model.Enter == false)
            {
            <a class="btn btn-outline-success" style="width: 50px" asp-action="Confirm" asp-route-id="@Model.Id" asp-controller="Product">تأكيد</a>
                
            }
            <a asp-action="Index" class="btn btn-light">العوده</a>

            }
            else if (User.IsInRole("بائع"))
            {
                <a asp-action="YourProducts" class="btn btn-light">العوده</a>

            }
        </div>
    </div>
</div>


