@model ProductVM
@{
    ViewData["Title"] = "Edit";
}


    <div class="m-auto  bg-white p-5">
    <h1>تعديل المنتج</h1>
    @if (!string.IsNullOrEmpty(TempData["Message"] as string))
    {
        <div class="alert alert-primary mt-3 mb-2">
            @TempData["message"]
        </div>
    }
    </hr>

    <form asp-action="Edit" method="post" >


        <partial name="PartialViews/CreateEditView" />

        <div class="form-group mt-4">
            <input type="submit" value="حفظ" class="btn btn-primary" />
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Index" class="btn btn-light">العوده</a>

            }
            else if (User.IsInRole("بائع"))
            {
                <a asp-action="YourProducts" class="btn btn-light">العوده</a>

            }
        </div>
    </form>

</div>
