@model ReviewVM
@{
    ViewData["Title"] = "Delete";
}

<div class="m-auto  bg-white p-5">
    <h1>حذف الرأي</h1>
    @if (!string.IsNullOrEmpty(TempData["Message"] as string))
    {
        <div class="alert alert-primary mt-3 mb-2">
            @TempData["message"]
        </div>
    }

    <form asp-action="Delete" method="post">


        <partial name="PartialViews/DeleteDetialsView" />
        <div class="form-group mt-4">
            <input type="submit" value="حذف" class="btn btn-danger " />
            <a asp-action="Index" class="btn btn-light">العوده</a>
        </div>
    </form>

</div>
@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@



